@using Allannovalta.CSMQuestionPoll.Web.Infrastructure.Data.Models;
@model Allannovalta.CSMQuestionPoll.Web.ViewModels.Users.IndexViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Users</h2>
    <p>Here is a paged list of all the users</p>

    <a href="~/manage/users/create" title="Create User"><button type="button" class="btn">Create User    <i class="fas fa-plus"></i></button></a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (User user in Model.Users.Items)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.EmailAddress</td>
                        <td>@user.Gender</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

