@using Allannovalta.CSMQuestionPoll.Web.Areas.Infrastructure.Data.Models
@model Allannovalta.CSMQuestionPoll.Web.ViewModels.Users.IndexViewModel;

@{
    ViewData["Title"] = "UserIndex";

}

<h2>Users</h2>

