@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center">

    <p1> Welcome to CSM Bataan Website</p1> <br />
    <p2><i> The Shool That Shapes Lives, Intellects and World Views.</i></p2>


</h1> 







